//my skills card
.skills {
    background: url(../../images/card-bg/skill-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    box-shadow: transparent 0px 0px;
    padding: 30px;
    height: inherit;
}
