//my skills card

.skills {
    box-shadow: transparent 0px 0px;
    padding: 30px;
    height: inherit;
    position: relative;
    .media {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.skills::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    bottom: -50%;
    left: 25%;
    box-shadow: 0 70px 180px rgba(48, 51, 107, 0.7);
    transform: rotate(-180deg);
}

.skills::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    top: -50%;
    left: 25%;
    box-shadow: 0 70px 180px rgba(243, 86, 146, 0.7);
    animation: animate_1 20s infinite;
}

/* gradient-bg-style */
.gradient-bg::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    top: 0%;
    left: -50%;
    box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    animation: animate_2 20s infinite;
}

.gradient-bg::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    top: 0%;
    right: -50%;
    bottom: -1000px;
    box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    animation: animate_3 20s infinite;
}

.gradient-bg {
    h2 {
        text-align: right;
        background-color: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    }
    .btn {
        position: absolute;
        left: 25px;
        bottom: 25px;
    }
}
