@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

//Floting Image
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

//toogle animations
@keyframes zoom-in {
    0% {
        transform: scale(0.5, 0.5) rotate(-20deg);
        opacity: 0.2;
    }
    50% {
        transform: scale(0, 0) rotate(-40deg);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) rotate(0deg);
        opacity: 1;
    }
}
@keyframes zoom-in-2 {
    0% {
        transform: scale(0.5, 0.5) rotate(20deg);
        opacity: 0.2;
    }
    50% {
        transform: scale(0, 0) rotate(40deg);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) rotate(0deg);
        opacity: 1;
    }
}

//Gradient Color Animatons
@keyframes animate_1 {
    25% {
        box-shadow: 0 70px 180px rgba(243, 86, 146, 0.5);
    }

    50% {
        box-shadow: 0 70px 180px rgba(254, 201, 63, 0.5);
    }

    75% {
        box-shadow: 0 70px 180px rgba(93, 248, 240, 0.5);
    }

    100% {
        box-shadow: 0 70px 180px rgba(243, 86, 146, 0.5);
    }
}

@-webkit-keyframes animate_1 {
    25% {
        box-shadow: 0 70px 180px rgba(243, 86, 146, 0.5);
    }

    50% {
        box-shadow: 0 70px 180px rgba(254, 201, 63, 0.5);
    }

    75% {
        box-shadow: 0 70px 180px rgba(93, 248, 240, 0.5);
    }

    100% {
        box-shadow: 0 70px 180px rgba(243, 86, 146, 0.5);
    }
}

/* animate-2 */
@keyframes animate_2 {
    25% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }

    50% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }

    75% {
        box-shadow: 0 0 130px 150px rgba(243, 86, 146, 0.5);
    }

    100% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }
}

@-webkit-keyframes animate_2 {
    25% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }

    50% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }

    75% {
        box-shadow: 0 0 130px 150px rgba(243, 86, 146, 0.5);
    }

    100% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }
}

/* animate-3 */
@keyframes animate_3 {
    25% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }

    50% {
        box-shadow: 0 0 130px 150px rgba(243, 86, 146, 0.5);
    }

    75% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }

    100% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }
}

@-webkit-keyframes animate_3 {
    25% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }

    50% {
        box-shadow: 0 0 130px 150px rgba(243, 86, 146, 0.5);
    }

    75% {
        box-shadow: 0 0 130px 150px rgba(254, 201, 63, 0.7);
    }

    100% {
        box-shadow: 0 0 130px 150px rgba(93, 248, 240, 0.7);
    }
}
