@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

//Floting Image
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(0px);
    }
}

//toogle animations
@keyframes zoom-in {
    0% {
        transform: scale(0.5, 0.5) rotate(-20deg);
        opacity: 0.2;
    }
    50% {
        transform: scale(0, 0) rotate(-40deg);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) rotate(0deg);
        opacity: 1;
    }
}
@keyframes zoom-in-2 {
    0% {
        transform: scale(0.5, 0.5) rotate(20deg);
        opacity: 0.2;
    }
    50% {
        transform: scale(0, 0) rotate(40deg);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) rotate(0deg);
        opacity: 1;
    }
}

//music bar animation
@keyframes playing {
    0% {
        height: 3px;
    }
    50% {
        height: 12px;
    }
    100% {
        height: 3px;
    }
}
@-webkit-keyframes playing {
    0% {
        height: 3px;
    }
    50% {
        height: 12px;
    }
    100% {
        height: 3px;
    }
}
