//Other Scss File Imports
@import url(../styles/_animations.scss);
@import url(../styles/_layout.scss);

//Main Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
    font-family: morangaBold;
    src: url(../fonts/moranga_bold.otf);
}

@font-face {
    font-family: morangaRegular;
    src: url(../fonts/moranga_regular.otf);
}

//Color veriables
$font-dark-primary: rgb(13, 17, 23);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $font-dark-primary;
    font-family: "Montserrat", sans-serif;
}
.App {
    background-color: rgb(247, 242, 242);
    min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: morangaBold, sans-serif;
}

a,
p,
span,
ul,
li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: $font-dark-primary;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.6;
    }
    &:focus {
        color: $font-dark-primary;
    }
}

img {
    width: 100%;
}

.btn {
    box-shadow: #f0f2f8 0px 0px 0px 2px;
    padding: 8px 12px;
    border: none;
    border-radius: 18px;
    background: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-out 0s;
    will-change: box-shadow, transform;
    font-size: 16px;
    color: $font-dark-primary;
    &.withIcon {
        svg {
            &#Arrow_Rotate {
                transform: rotate(180deg);
            }
            margin-right: 5px;
            transform: rotate(0deg);
            transition: all 0.3s ease;
        }
    }
    &.collapes {
        width: 36px;
        height: 36px;
        border-radius: 500px;
        padding: 0;
        transition: all 0.3s ease;
        .arrow-up {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            position: absolute;
            right: 0px;
            svg {
                transform: rotate(0deg);
                margin: 0;
                width: 18px;
                height: 18px;
                border-radius: 18px;
            }
        }

        span {
            margin: 0px 36px 0px 16px;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0.3px;
            font-weight: 400;
            white-space: nowrap;
            color: rgb(13, 17, 23);
            transition: all 0.3s ease;
        }
        &:hover {
            box-shadow: #ffffff 0px 0px 0px 1px, #ffffff80 0px 0px 0px 6px;
            transition: box-shadow 0.2s ease-out 0s;
            svg {
                margin-left: 0px;
            }
        }
    }
    &:hover {
        cursor: pointer;
        transition: box-shadow 0.2s ease-out 0s;
        box-shadow: #f0f2f8 0px 0px 0px 5px;
    }
}

//All cards styles
.card {
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px;
    padding: 30px;
    height: inherit;
    border-radius: 32px;
}
